<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Demo SB</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h2>Cadastro de Alunos</h2>
<hr>
<div th:text="${mensagem}" class="msg-erro"></div>

<form th:action="@{/alunos}" method="post" th:object="${aluno}">
	<input type="hidden" name="id" th:field="*{id}"/>
	Nome: <input name="nome" type="text" th:field="*{nome}"/> <br/>
	Matrícula:<input name="matricula" type="text" th:field="*{matricula}"/> <br/>
	Data de Aniversário:<input name="dataAniversario" type="text" th:field="*{dataAniversario}"/> <br/>
	CRE:<input name="cre" type="text" th:field="*{cre}"/> <br/>
	Ativo:<input name="ativo" type="checkbox" th:field="*{ativo}"/> <br/>
	<input type="submit" value="Salvar"/>
</form>

</body>
</html>