<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Demo SB</title>
</head>
<body>
<h2>Alunos Matriculados</h2>

<form th:action="@{/alunos/form}" method="get">
<input type="submit"value="Novo cadastro"/>
</form>

<table border="1" >
	<thead>
		<th>Nome</th>
		<th>Matrícula</th>
		<th>Data Aniversário</th>
		<th>CRE</th>
		<th>Ativo</th>
	</thead>
	<tbody>
		<tr th:each="aluno : ${alunos}" style="padding: 3px;">
			<td><a th:href="@{/alunos/{id}(id=${aluno.id})}"
					th:text="${aluno.nome}"></a></td>
			<td th:text="${aluno.matricula}"></td>
			<td th:text="${#dates.format(aluno.dataAniversario, 'dd/MM/yyyy')}"></td>
			<td th:text="${aluno.cre}"></td>
			<td th:text="${aluno.ativo}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>