<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Demo do Spring Boot</title>
</head>
<body>
<h1>Página inicial da aplicação</h1>

<p>Esta página tem uma URL porque se chama index.html</p>

<p>Bem vindo, <span th:text="${usuario}"></span>!
</body>
</html>