<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login da Aplicação</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<img th:src="@{/images/logo.png}" width="10%" height="10%"/>
<h2>Login</h2>
<hr>
<div th:text="${mensagem}" class="msg-erro" th:if="${aluno.estadoCivilCasado}"></div>

<form th:action="@{/login}" method="post" th:object="${usuario}">
	Login: <input name="login" type="text" th:field="*{login}"/> <br/>
	Senha:<input name="senha" type="password" th:field="*{senha}"/> <br/>
	<input type="submit" value="Autenticar"/>
</form>

</body>
</html>